<div class="row">
  <div class="span10">
    <%= form_tag '#', :method => :get do %>
      <%= text_field_tag 'search', params[:search], :class => 'span5 search', :remote => true %>
      <div id="notes-count"></div>
    <% end %>
  </div>
  <div class="span2">
    <p class="pull-right">
      <%= link_to 'New Note', new_note_path, :class => 'btn btn-primary'  %>
    </p>
  </div>
</div>

<div id="notes-list">
  <%= render :partial => 'notes' %>
</div>
