<div class="row">
  <span class="span12">
    <h2>Categories list</h2>
  </span>
  <span class="pull-right">
    <%= link_to 'New category', new_admin_category_path, :class => 'btn primary small' %>
  </span>
</div>

<table>
  <tr>
    <th>Name</th>
    <th class="span3"></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td>
      <%= link_to 'Edit', edit_admin_category_path(:id => category.id) %>
      <%= link_to 'Destroy', admin_category_path(:id => category.id), confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
