/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

.note {
  position: relative;
  background-color: whiteSmoke;
  display: block;
  padding: 5px;
  margin: 5px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
/*  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;*/
  height: 170px;
  overflow: hidden;
}

.note .gradient {
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  z-index: 2;
  filter: progid::DXImageTransform.Microsoft.gradient(startColorstr='#00f3f3f3', endColorstr='#fff3f3f3'));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 243, 243, 0)), to(#f3f3f3));
  background: -moz-linear-gradient(top, rgba(243, 243, 243, 0), #f3f3f3);
  background: -o-linear-gradient(top, rgba(243, 243, 243, 0), #f3f3f3); 
}

.field_with_errors input, .field_with_errors select, .field_with_errors textarea {
  color: #b94a48;
  border-color: #ee5f5b;
}

.field_with_errors input:focus, .field_with_errors:focus select, .field_with_errors:focus textarea {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

code {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 5px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
 /* white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;*/

}

.prettyprint {
  background-color: #fefbf3;
  padding: 9px;
  margin-right: 5px;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
          box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

input.search {
  float: left;
  background: white url('/search-icon.png') 5px 2px no-repeat;
  padding-left: 30px;
}